:root {
  --primary-color: #ffffff;
  --secondary-color: #2f303a;
  --accent-color: #2196f3;
  --our-team: #f5f4fa;

  --primary-text: #757575;
  --secondary-text: #212121;
}

body {
  color: var(--primary-text);
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .logo {
  color: #fff;
}
.web {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

/* Header */

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav {
  color: var(--secondary-text);
}

.contacts-list {
  color: var(--primary-text);
}

.site-nav:hover,
.contacts-list:hover,
.site-nav:focus,
.contacts-list:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Hero */

.hero,
.footer {
  background-color: var(--secondary-color);
}

.hero-header,
.section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-header {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--secondary-text);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio-title {
  color: var(--secondary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Button types */

.order-services {
  color: var(--primary-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.filter {
  color: var(--secondary-text);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.order-services:hover,
.order-services:focus {
  background-color: #188ce8;
}

.filter:hover,
.filter:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

/* Peculiarities */

.subheader {
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Scope */

/* Our team */

.team {
  background-color: var(--our-team);
}
.teammates {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.teammates-occupation {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* address */
.address.link {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts.link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address.link:hover,
.contacts.link:hover,
.address.link:focus,
.contacts.link:focus {
  color: var(--accent-color);
}
